[Desktop Entry]
Version=1.0
Name=MiniNotes
Comment=Offline-first notes application
Exec=mininotes %U
Icon=io.github.ahmadabdelbary2001.mininote
Terminal=false
Type=Application
Categories=Office;Utility;
StartupNotify=true
