[Desktop Entry]
Version=1.0
Name=MiniNotes
Comment=Offline-first notes application
Exec=mininotes %U
Icon=io.github.Ahmad_J_Bary.UbuntuTouch_Lab
Terminal=false
Type=Application
Categories=Office;Utility;
StartupNotify=true
